DEV_DB_NAME=
DEV_DB_USERNAME=
DEV_DB_PASSWORD=
DEV_DB_ROOT_PASSWORD=
DEV_JWT_SECRET=
DEV_SESSION_REFRESH_KEY=

# DEV_DB_PORT=3307
# DEV_BACKEND_PORT=8080
# DEV_FRONTEND_PORT=5173

# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=

# MAIL_SMTP_ENABLED=false
# MAILTRAP_HOST=
# MAILTRAP_PORT=2525
# MAILTRAP_USERNAME=
# MAILTRAP_PASSWORD=

# VITE_WHATSAPP_NUMBER=
